.logo{
    &__title{
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: $defaultFont;
        color: $logoColor;
        text-align: center;
        padding-bottom: 100px;

        @include media($MD){
            padding-bottom: 20px;
            font-size: 30px;
        }
    }

}
