.page{
    min-height: 100vh;
    background: $pageBG;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-family: $defaultFont;
    color: $appTextColor;
    line-height: 1.5;

    & > header, & > main, & > footer {
        z-index: 10;
    }

    &_clear{
        @include bgCover(url('../../image/clearSky.jpg'));
    }

    &_cloudy{
        @include bgCover(url('../../image/gloomySky.jpg'));
    }

    &__bg{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
}

.weatherApp{
    flex-grow: 1;
}

.svg__sprite{
    height: 0px;
    width: 0px;
    position: fixed;
    top: -10px;
    left: -10px;
    cursor: none;

}
