.wether-city{

    &__row{
        background-color: $appBgColor;
        margin-bottom: 0;
        position: relative;
    }


    &__title{
        font-size: 26px;
        font-weight: 400;
        text-transform: uppercase;
        font-family: $defaultFont;
        color: $appTextColor;

        @include media($MD){
            font-size: 22px;
        }

    }

    &__button{
        font-size: 26px;
        font-weight: 400;
        font-family: $defaultFont;
        color: $appTextColor;
        background-color: transparent;
        outline: none;
        border: none;
        text-align: start;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            opacity: .7;
            transition: transform .5s ease-in-out;
            transition: opacity .5s ease-in-out;
        }

        &:hover{
            transform: scale(1.04);

            svg{
                opacity: 1;
                transform: scale(1.04);
            }
        }


    }

    &__find-button{
        background-color: transparent;
        outline: none;
        border: none;
    }

    &__input{
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 26px;
        font-weight: 400;
        font-family: $defaultFont;
        color: $appTextColor;
        text-transform: uppercase;
    }

    &__loader{
        width: 100%;
    }

    &__close-button{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        outline: none;
    }

    &__city-list{
        position: absolute;
        background-color: $appBgColor;
        width: 100%;
        top: calc(100% + 0px);
        border-bottom: 1px solid rgba($color: $appTextColor, $alpha: .2);

    }

    &__city{
        width: 100%;
        background-color: transparent;
        padding-left: calc(8.333333333% + 15px);

        & > button {
            padding: 10px 0;
            width: 100%;
            background-color: transparent;
            outline: none;
            border: none;
            font-size: 26px;
            font-weight: 400;
            text-align: start;
            text-transform: uppercase;
            font-family: $defaultFont;
            color: $appTextColor;
            opacity: .7;
            cursor: pointer;
            line-height: 1.5;

            &:hover, &:focus{
                opacity: 1;


            }
        }
    }

    &__icon{
        width: 40px;
        height: 33px;
        fill: $appTextColor;
    }
}
